:root {
    --main-color: #f9a829;
    --white: #fff;
    --black: #000;
}

.swiper-pagination {
    bottom: 10px !important;
}

.swiper-pagination-bullet {
    width: 7px !important;
    height: 7px !important;
    margin: 0 3px !important;
    background: #eeeeeec5 !important;
}

.swiper-pagination-bullet-active {
    background: var(--main-color) !important;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header-section {
    .bottom_menu {
        .nav_item {
            min-width: fit-content;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: #eee;
        }

        .nav_wrapper {
            gap: 20px;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;

            /* Internet Explorer 10+ */
            &::-webkit-scrollbar {
                display: none;
                /* Chrome, Safari, Opera */
            }
        }
    }
}

.main_veduBanner {
    .swiper-wrapper {
        .swiper-slide {
            & {
                padding: 10px;
                margin-top: 6px;
            }

            &>div {
                border-radius: 6px !important;
                overflow: hidden;
            }
        }
    }

    .badge_wrapper {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        span {
            background: var(--main-color);
            color: #000;
            padding: 3px 9px;
            font-size: 11px;
            font-weight: 600;
            border-radius: 0 0 7px 0;
        }

        span.Qualtity {
            border-radius: 0 0 0 7px;
        }
    }
}

// Seach Page ---

.search_page{
    button{
        font-size: 10px;
    }
}